In [1]:
import pandas as pd
import numpy as np

In [2]:
# import passengers data created in Italians_data_exploration.ipynb
csv = open('./data/sicily_passengers.csv')
df = pd.read_csv(csv)

In [3]:
df.head()

,Unnamed: 0,LastName,FirstName,Age,Occupation,Literacy,CountryofOrigin,CityTownofLastResidence,DestinationCityTown,TransitTravelCompartment,ManifestID,Province,ShipName,Port,Arrival
0,0,BUONGIORNO,ANTONIO,49,BLACKSMITH,READ & WRITE,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,82236,Agrigento,EMS,NAPLES,12/29/1892
1,1,BUONGIORNO,GIUSEPPE,60,BLACKSMITH,READ & WRITE,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,82236,Agrigento,EMS,NAPLES,12/29/1892
2,2,CARUSO,FRANCESCA,Infant in months: 10,INFANT,NO,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,82236,Agrigento,EMS,NAPLES,12/29/1892
3,3,CARUSO,FRANCESCO,03,"CHILD, YOUNGSTER",NO,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,82236,Agrigento,EMS,NAPLES,12/29/1892
4,4,CARUSO,ROSA,38,WIFE,READ & WRITE,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,82236,Agrigento,EMS,NAPLES,12/29/1892

In [6]:
df = df.drop(columns="Unnamed: 0")

In [11]:
df.head()

,LastName,FirstName,Age,Occupation,Literacy,CountryofOrigin,CityTownofLastResidence,DestinationCityTown,TransitTravelCompartment,ManifestID,Province,ShipName,Port,Arrival
0,BUONGIORNO,ANTONIO,49,BLACKSMITH,READ & WRITE,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,82236,Agrigento,EMS,NAPLES,12/29/1892
1,BUONGIORNO,GIUSEPPE,60,BLACKSMITH,READ & WRITE,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,82236,Agrigento,EMS,NAPLES,12/29/1892
2,CARUSO,FRANCESCA,Infant in months: 10,INFANT,NO,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,82236,Agrigento,EMS,NAPLES,12/29/1892
3,CARUSO,FRANCESCO,03,"CHILD, YOUNGSTER",NO,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,82236,Agrigento,EMS,NAPLES,12/29/1892
4,CARUSO,ROSA,38,WIFE,READ & WRITE,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,82236,Agrigento,EMS,NAPLES,12/29/1892

In [16]:
df['DestinationCityTown'].filter(like='NEW YORK')

Series([], Name: DestinationCityTown, dtype: object)