## Formatting Passenger Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
# open data file
csv = open('../data/sicily_passengers.csv')
df = pd.read_csv(csv)

In [4]:
df.head()

,index,LastName,FirstName,Age,Occupation,Literacy,origin_country,origin_city,destination_city,TransitTravelCompartment,...,ShipName,Port,Arrival,destination_id,destination_lat,destination_lon,ArrivalYr,origin_id,origin_lon,origin_lat
0,0,BUONGIORNO,ANTONIO,49,BLACKSMITH,READ & WRITE,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,...,EMS,NAPLES,12/29/1892,1,40.712775,-74.005973,1892,1,13.08163,37.508515
1,1,BUONGIORNO,GIUSEPPE,60,BLACKSMITH,READ & WRITE,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,...,EMS,NAPLES,12/29/1892,2,40.712775,-74.005973,1892,2,13.08163,37.508515
2,2,CARUSO,FRANCESCA,Infant in months: 10,INFANT,NO,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,...,EMS,NAPLES,12/29/1892,3,40.712775,-74.005973,1892,3,13.08163,37.508515
3,3,CARUSO,FRANCESCO,3,"CHILD, YOUNGSTER",NO,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,...,EMS,NAPLES,12/29/1892,4,40.712775,-74.005973,1892,4,13.08163,37.508515
4,4,CARUSO,ROSA,38,WIFE,READ & WRITE,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,...,EMS,NAPLES,12/29/1892,5,40.712775,-74.005973,1892,5,13.08163,37.508515

In [10]:
df.apply(lambda x: x.str.capitalize()  columns=['LastName', 'FirstName', 'Occupation', 'Literacy', 'origin_city', 'destination_city'])

TypeError: ("<lambda>() got an unexpected keyword argument 'columns'", 'occurred at index index')