## Formatting Passenger Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
# open data file
csv = open('../data/sicily_passengers2.csv')
df = pd.read_csv(csv)

In [3]:
df.head()

,Unnamed: 0,LastName,FirstName,Age,Occupation,Literacy,CountryofOrigin,CityTownofLastResidence,destination_city,TransitTravelCompartment,...,ShipName,Port,Arrival,bbox,lat,lng,ArrivalYr,origin_city,origin_lon,origin_lat
0,0,Buongiorno,Antonio,49,Blacksmith,Read & Write,ITALY,SCIACCA,New York,Return trip to USA - non US Citizen [Transit];...,...,EMS,NAPLES,12/29/1892,"{'northeast': [40.9175771, -73.70027209999999]...",40.712775,-74.005973,1892,Sciacca,13.08163,37.508515
1,1,Buongiorno,Giuseppe,60,Blacksmith,Read & Write,ITALY,SCIACCA,New York,Return trip to USA - non US Citizen [Transit];...,...,EMS,NAPLES,12/29/1892,"{'northeast': [40.9175771, -73.70027209999999]...",40.712775,-74.005973,1892,Sciacca,13.08163,37.508515
2,2,Caruso,Francesca,Infant in months: 10,Infant,No,ITALY,SCIACCA,New York,Return trip to USA - non US Citizen [Transit];...,...,EMS,NAPLES,12/29/1892,"{'northeast': [40.9175771, -73.70027209999999]...",40.712775,-74.005973,1892,Sciacca,13.08163,37.508515
3,3,Caruso,Francesco,03,"Child, Youngster",No,ITALY,SCIACCA,New York,Return trip to USA - non US Citizen [Transit];...,...,EMS,NAPLES,12/29/1892,"{'northeast': [40.9175771, -73.70027209999999]...",40.712775,-74.005973,1892,Sciacca,13.08163,37.508515
4,4,Caruso,Rosa,38,Wife,Read & Write,ITALY,SCIACCA,New York,Return trip to USA - non US Citizen [Transit];...,...,EMS,NAPLES,12/29/1892,"{'northeast': [40.9175771, -73.70027209999999]...",40.712775,-74.005973,1892,Sciacca,13.08163,37.508515

In [4]:
df['LastName'] = df['LastName'].str.title()

In [6]:
df['FirstName'] = df['FirstName'].str.title()
df['Occupation'] = df['Occupation'].str.title()
df['Literacy'] = df['Literacy'].str.title()
df['origin_city'] = df['origin_city'].str.title()
df['DestinationCityTown'] = df['DestinationCityTown'].str.title()

In [8]:
df.axes

[RangeIndex(start=0, stop=39604, step=1),
 Index(['Unnamed: 0', 'LastName', 'FirstName', 'Age', 'Occupation', 'Literacy',
        'CountryofOrigin', 'CityTownofLastResidence', 'DestinationCityTown',
        'TransitTravelCompartment', 'ManifestID', 'Province', 'ShipName',
        'Port', 'Arrival', 'bbox', 'lat', 'lng', 'ArrivalYr', 'origin_city',
        'origin_lon', 'origin_lat'],
       dtype='object')]

In [4]:
df = df.drop(columns=['Unnamed: 0'])

In [5]:
df.head()

,LastName,FirstName,Age,Occupation,Literacy,CountryofOrigin,CityTownofLastResidence,destination_city,TransitTravelCompartment,ManifestID,...,ShipName,Port,Arrival,bbox,lat,lng,ArrivalYr,origin_city,origin_lon,origin_lat
0,Buongiorno,Antonio,49,Blacksmith,Read & Write,ITALY,SCIACCA,New York,Return trip to USA - non US Citizen [Transit];...,82236,...,EMS,NAPLES,12/29/1892,"{'northeast': [40.9175771, -73.70027209999999]...",40.712775,-74.005973,1892,Sciacca,13.08163,37.508515
1,Buongiorno,Giuseppe,60,Blacksmith,Read & Write,ITALY,SCIACCA,New York,Return trip to USA - non US Citizen [Transit];...,82236,...,EMS,NAPLES,12/29/1892,"{'northeast': [40.9175771, -73.70027209999999]...",40.712775,-74.005973,1892,Sciacca,13.08163,37.508515
2,Caruso,Francesca,Infant in months: 10,Infant,No,ITALY,SCIACCA,New York,Return trip to USA - non US Citizen [Transit];...,82236,...,EMS,NAPLES,12/29/1892,"{'northeast': [40.9175771, -73.70027209999999]...",40.712775,-74.005973,1892,Sciacca,13.08163,37.508515
3,Caruso,Francesco,03,"Child, Youngster",No,ITALY,SCIACCA,New York,Return trip to USA - non US Citizen [Transit];...,82236,...,EMS,NAPLES,12/29/1892,"{'northeast': [40.9175771, -73.70027209999999]...",40.712775,-74.005973,1892,Sciacca,13.08163,37.508515
4,Caruso,Rosa,38,Wife,Read & Write,ITALY,SCIACCA,New York,Return trip to USA - non US Citizen [Transit];...,82236,...,EMS,NAPLES,12/29/1892,"{'northeast': [40.9175771, -73.70027209999999]...",40.712775,-74.005973,1892,Sciacca,13.08163,37.508515

In [6]:
df.to_csv('../data/sicily_passengers2.csv',"'")